.navbar{
    position: relative;
    min-height: 60px;
    margin-bottom: 21px;
    border: 1px solid transparent;	
	border-radius:0;
&.navbar-default{
background-color:#2C3E50;
text-transform: uppercase;
padding-top:4px;
& .navbar-nav>{
	
	li{
		a{
			color: white;
			font-weight:700;
		}
			a:hover{
			color: #18bc9c;
			background:transparent;
		}
		&.dropdown-menu{
		z-index:1100;
		}
		ul.dropdown-menu {
			background-color: #2C3E50;
			margin-top:3px;
			width: 250px;
			li{padding:1em;
			&:hover{background-color:white;}
			}
		}
		
	}
	
}
.navbar-brand{
padding: 3px 15px; 
}
}

}
.required {
    color: #e32;
    content: ' *';
    display:inline;
	}		
.inner-head{
	.navbar-header {
		border-right: 2px solid #808080;
		padding-right: 1em;
	}
	.dropdown-toggle {width: 248px;}
	.navbar-right {
				border-left: 2px solid #808080;
				&:hover,active{background:#263646;}}
	&.navbar.navbar-default .navbar-nav > li a{
										color: gray;
										&:hover{color:white;}
										&.active-now{color:#fff;}}
}


/* footer */ 
footer{
.footer-below{
	color:white;
    padding: 25px 0;
    background-color: #233140;
}
}