.navbar{
    position: relative;
    min-height: 60px;
    margin-bottom: 21px;
    border: 1px solid transparent;
	
&.navbar-default{
background-color:#2C3E50;
text-transform: uppercase;
& .navbar-nav>{

	li{
		a{
			color: white;
			font-weight:700;
		}
			a:hover{
			color: #18bc9c;
		}
		&.dropdown-menu{
		z-index:1100;
		}
		ul.dropdown-menu {
			background-color: #2C3E50;
		}
		
	}
	
}
.navbar-brand{
padding: 5px 15px; 
}
}

}


/* footer */ 
footer{
.footer-below{
	color:white;
    padding: 25px 0;
    background-color: #233140;
}
}