/* line 1, ../sass/header.scss */
.navbar-default {
  background-color: #2C3E50;
  text-transform: uppercase;
}
/* line 7, ../sass/header.scss */
.navbar-default .navbar-nav > li a {
  color: white;
  font-weight: 700;
}
/* line 11, ../sass/header.scss */
.navbar-default .navbar-nav > li a:hover {
  color: #18bc9c;
}
/* line 17, ../sass/header.scss */
.navbar-default .navbar-brand {
  padding: 5px 15px;
}

/* line 21, ../sass/header.scss */
.navbar {
  position: relative;
  min-height: 60px;
  margin-bottom: 21px;
  border: 1px solid transparent;
}

/* footer */
/* line 31, ../sass/header.scss */
footer .footer-below {
  color: white;
  padding: 25px 0;
  background-color: #233140;
}
